/*reseteo general*/

*{
 margin: 0;
padding: 0;
box-sizing: border-box;
box-sizing: content-box;

}
body{
    background-color: white(15, 13, 11, 0.274);
}

/*aqui inicia la barra de navegacion*/

.container-nav {
    background-color: rgb(22, 22, 21);
    padding: 0rem;
    box-shadow: 1pc 1px 10px rgba(0, 0, 0, 0.952);
    position: fixed;
    left: 0%;
    right: 0%;
}

a >h4 {
    display: flex;
    justify-content: end;
    gap: 1rem;

    padding: 5;
}
a {
    text-decoration: none;
}

 a >h4 {
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}



.a>h4:hover {
    color: rgb(5, 5, 5);
}


/*aqui inicia la seccion de servicios*/

.Servicios  {
    padding: 5rem;


}

.imagen-servicios {
    width: 300px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 1pc 1px 10px rgba(0, 0, 0, 0.952);
}

.Servicios-img-tittle {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 4rem;
}

.parrafo-servicios {

    font-style: 1.4rem;
    line-height: 32px;
    text-align: justify;
    padding-top: 3rem;
}
/*AQUI INICIA LASECCION DE HABILIDADES*/



.mishabilidades{
    background-color: rgb(180, 95, 95);
    display: flex;
}
    
.imagenes-habilidades{
    display: flex;
    gap: 1rem;
   margin: .5rem;
   justify-items: center;
   justify-content: center;
   align-items: center;
   align-content: center;
}
.Habilidades-title{
    padding: 5rem;
     margin-bottom: 5rem;
}
    


.row1 > img { 
    width:50px ; 
    margin: .5rem;
    
}

.row2 > img {
     width:50px ;
    margin: .5rem;
    
    
}
.row3 > img { 
    width:50px ;
    margin: .5rem;
    

    

}



